@include portrait {
  // Landing
  .fullScreenVideo video {
    width: auto;
    height: 100vh;
    transform: translate(-40%, -50%);
  }

  //Skills
  #skills .logosWrapper {
    display: flex;
    align-items: center;
  }

  #skills .firstRow,
  #skills .secondRow,
  #skills .thirdRow {
    width: 33%;
    height: 100%;
    max-width: 220px;
    max-height: 100%;
    flex-direction: column;
  }

  //Works
  #works .title {
    height: 10vh;
  }

  #works .works {
    min-height: 90vh;
  }

  #works .work {
    width: 60vw;
    align-self: center;
  }

  //Education
  #edu .title {
    height: 8vh;
  }

  #edu .educations {
    flex-direction: column;
    min-height: 92vh;
  }

  #edu .education {
    width: 60vw;
  }
}

//Desktop and Laptops
@include mediaLG {
  //Skills
  .skill.xs {
    width: 65px;
    height: 65px;
  }
  .skill.sm {
    width: 85px;
    height: 85px;
  }

  .skill.md {
    width: 115px;
    height: 115px;
  }

  .skill.lg {
    width: 150px;
    height: 150px;
  }

  .skill.xl {
    width: 165px;
    height: 165px;
  }

  #works .work {
    width: 60vw;
    align-self: center;
  }

  #exp .experience .companyName h1 {
    font-size: 24px;
  }
}

//Tablets and Small Laptops
@include mediaMD {
  .menu {
    flex-flow: column;
  }
  .menu-avatar {
    width: 100vw;
    height: 45vh;
  }

  .menu-nav {
    width: 100vw;
    height: 55vh;
  }

  #skills .title {
    display: none;
  }

  #skills .logos {
    height: 100vh;
  }

  #works .work h1 {
    font-size: 30px;
  }

  #exp .title {
    height: 8vh;
  }

  #exp .experiences {
    min-height: 92vh;
  }

  #exp .experience {
    width: 68vw;
    height: 22vh;
    align-self: center;
    margin: 3px 0;
  }
}

//Smartphones
@include mediaSM {
  h1 {
    font-size: 24px;
  }

  .burger-btn {
    top: 20px;
    right: 20px;
  }

  .circleBG {
    top: 36px;
    right: 35px;
  }

  .menu-avatar {
    height: 35vh;
  }

  .menu-nav {
    height: 65vh;
  }

  .nav-item {
    width: 80vw !important;
  }
  .nav-link {
    font-size: 25px !important;
  }

  .skill.xs {
    width: 40px;
    height: 40px;
  }
  .skill.sm {
    width: 50px;
    height: 50px;
  }

  .skill.md {
    width: 70px;
    height: 70px;
  }

  .skill.lg {
    width: 90px;
    height: 90px;
  }

  .skill.xl {
    width: 120px;
    height: 120px;
  }

  #works .title {
    height: 70px;
  }
  #works .work {
    width: 80vw;
    margin: 1px 1px;

    h1 {
      font-size: 20px;
    }
  }

  #edu .title {
    height: 8vh;
  }

  #edu .educations {
    min-height: 92vh;
  }

  #edu .education {
    width: 78vw;
    margin: 1px 1px;
  }

  #edu .eduDetail p {
    margin: 3px auto;
    font-size: 15px;
    &.eduName {
      font-size: 18px;
    }
  }

  #exp .title {
    height: 8vh;
  }

  #exp .experiences {
    min-height: 92vh;
  }

  #exp .experience {
    width: 80vw;
  }

  #exp .experience .companyName {
    height: 30%;
    h1 {
      font-size: 16px;
    }
  }

  #exp .experience .expDetail {
    height: 40%;
  }
  .jobLocation,
  .jobDescription,
  .jobDetail {
    display: none;
  }

  #exp .experience .expBottom {
    height: 30%;
    display: flex;
    justify-content: center;

    .circleWrapper {
      width: 40px;
      height: 40px;
      display: flex;
      align-self: center;
      justify-content: center;
      z-index: 120;
    }

    .circleLG {
      width: 20px;
      height: 20px;
      color: #fff;
      align-self: center;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      animation: pulse 1.5s infinite;
    }

    @keyframes pulse {
      0% {
        opacity: 1;
      }
      100% {
        transform: scale(3);
        opacity: 0;
      }
    }

    .circleSM {
      position: absolute;
      width: 16px;
      height: 16px;
      align-self: center;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.6);
    }
  }

  .expModal .expBG {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    color: #fff;
    z-index: 150;
    opacity: 0;
    @include easeSlow;

    &.ogkBG {
      background-color: #675589;
    }

    &.yiyangBG {
      background-color: #e38677;
    }

    &.awfBG {
      background-color: #468d8f;
    }
    &.ecBG {
      background-color: #e8ae6f;
    }

    .modalCompanyName {
      height: 10%;
      width: 90%;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 2px solid #fff;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-color: rgba(255, 255, 255, 0.3);
      transform: translateY(10vh);
      opacity: 0;
      @include easeOut;

      h1 {
        font-size: 20px;
      }
    }

    .modalExpDetail {
      height: 80%;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(10vh);
      opacity: 0;
      @include easeOut;

      .modalJobDescription {
        font-size: 24px;
        margin-top: 10px;
        font-weight: 400;
      }
      p {
        text-align: left;
        line-height: 40px;
      }
    }

    .showModalText {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
